@font-face{
	font-family: Roboto;
	src: url('../assets/fonts/Roboto-Regular.ttf');
}

html, body{
	margin: 0;
	width: 100vw;
	height: 100vh;
	background-color: #36393F;
	font-family: Roboto;
}

canvas{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border:1px solid #d3d3d3;
/*	background-color: #f1f1f1;*/
/*	background: rgb(93,179,221);*/
/*	background: linear-gradient(0deg, rgba(93,179,221,1) 0%, rgba(34,43,119,1) 85%);*/
	background: linear-gradient(181deg, #0075d2, #20409b, #07e7ff, #3668d3, #dd8e1e, #197ab1, #9100ff, #00f9ff, #c4829e, #407bec, #4eaccd, #030047, #eef2fd, #335d83, #f1b63e, #ea756a, #b9e8f2, #418697, #8100f1, #132e43);
    background-size: 4000% 4000%;
	z-index: 9999;

    -webkit-animation: AnimationName 600s ease infinite;
    -moz-animation: AnimationName 600s ease infinite;
    -o-animation: AnimationName 600s ease infinite;
    animation: AnimationName 600s ease infinite;
	
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 4%}
    50%{background-position:100% 97%}
    100%{background-position:0% 4%}
}

@-moz-keyframes AnimationName {
    0%{background-position:0% 4%}
    50%{background-position:100% 97%}
    100%{background-position:0% 4%}
}

@-o-keyframes AnimationName {
    0%{background-position:0% 4%}
    50%{background-position:100% 97%}
    100%{background-position:0% 4%}
}

@keyframes AnimationName {
    0%{background-position:0% 4%}
    50%{background-position:100% 97%}
    100%{background-position:0% 4%}
}

.button{
	cursor: pointer;
	font-family: monospace;
	outline: none;
	color: #FFF;
	font-weight: bold;
	text-transform: uppercase;
	border: 0px solid #202225;
	background-color: #72767D;
	-webkit-box-shadow: inset 0px -5px 0px 0px rgba(67,70,75,1), 0px 0px 0px 1px rgba(32,34,37,1);
	-moz-box-shadow: inset 0px -5px 0px 0px rgba(67,70,75,1), 0px 0px 0px 1px rgba(32,34,37,1);
	box-shadow: inset 0px -5px 0px 0px rgba(67,70,75,1), 0px 0px 0px 1px rgba(32,34,37,1);
	transition: .5s ease;
}

.button-sm{
	padding: 2px 10px 10px 10px;
	transition: .5s ease;
}

.button-sm:hover{
	padding: 2px 10px 5px 10px;
}

.button-lg{
	padding: 10px 15px 15px 15px;
	transition: .5s ease;
}

.button-lg:hover{
	padding: 10px 15px 10px 15px;
	transition: .5s ease;
}

.button:hover{
	-webkit-box-shadow: inset 0px 0px 0px 0px rgba(67,70,75,1), 0px 0px 0px 1px rgba(32,34,37,1);
	-moz-box-shadow: inset 0px 0px 0px 0px rgba(67,70,75,1), 0px 0px 0px 1px rgba(32,34,37,1);
	box-shadow: inset 0px 0px 0px 0px rgba(67,70,75,1), 0px 0px 0px 1px rgba(32,34,37,1);
	transition: .5s ease;
}

.middle-page{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.modal{
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

.modal-content{
	position: relative;
	background-color: #fefefe;
	margin: 0 auto;
	top: 50%;
	transform: translateY(-50%);
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	max-height: 80%;
	overflow-y: auto;
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}